body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    justify-content: center;
}

canvas {
    background: #009;
    height: auto;
    max-height: 750px;
    max-width: 75%;
}

img {
    display: none;
}

.button {
    cursor: pointer;
}

/*
font-family: 'Staatliches', sans-serif;
*/
